nav {
    height: 40px;
    width: 100%;
    background-color: hsla(0, 0%, 20%, 0.8);
    color: #AFF;
    position: fixed;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #AFF;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }